.main{
	padding-left: 20px;
	padding-right: 20px;
}

button{
  background:#1D1E20;
  border-width:0px;
  outline:none;
  box-shadow:none;
}

a{
	text-decoration: none;
	color: white;
}

.nav{
	display:flex;
	justify-content:space-between;
	padding-left:10px;
	padding-right:10px;
	margin: 10px;
}

.name{
	padding:20px;
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 29px;
	line-height: 45px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	flex-basis: 86%;
}

.blog{
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	flex-basis: 4%;
	margin-left:10px;
	margin-right:10px;
}

.darkMToggle{
	flex-basis:10%;
	max-width: 42px;
	min-width: 42px;
	margin-right:10px;
}

.bodyText{
	display: flex;
	align-items: center;
	justify-content: center;
}

.myImage{
	width: 50%;
	border-radius: 10%;
	flex : 1;
	min-height: 528px;
	max-height: 528px;
	min-width: 428px;
	max-width: 428px;
	margin: 20px;
	padding: 36px;
}

.DarkMode{
	background: white;
}

.TextColor{
	color: #000000;
}
